body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.bg-gradient-1 {
    background-color: #3F51B5;
    background-image: linear-gradient(181deg, #673AB7 10%, #FF5722 100%);
    background-size: cover;
}

.bg-disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control-xs {
    height: calc(1em + 0.3rem + 1px);
    padding: 0.25rem 0.5rem;
    font-size: 0.700rem;
    line-height: 0.5;
    border-radius: 0.2
}

.input-group-xs > .form-control:not(textarea),
.input-group-xs > .custom-select {
    height: calc(1.5em + 0.3rem + 2px);
}

.input-group-xs > .form-control,
.input-group-xs > .custom-select,
.input-group-xs > .input-group-prepend > .input-group-text,
.input-group-xs > .input-group-append > .input-group-text,
.input-group-xs > .input-group-prepend > .btn,
.input-group-xs > .input-group-append > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.700rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.input-group-xs > .custom-select {
    padding-right: 1.75rem;
}

.btn-xs, .btn-group-xs > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.700rem;
    line-height: 0.5;
    border-radius: 0.2rem;
}

.bg-sap {
    background-color: #34517d;
}

table.dataTable thead tr,
table.dataTable thead tr > .dtfc-fixed-left {
    background-color: #34517d;
    color: #fff;
}

.tb-dt1 thead tr,
.tb-dt1 thead tr > .dtfc-fixed-left {
    background-color: #34517d;
    color: #fff;
}



.accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23052c65'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-focus-border-color: #86b7fe;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: var(--bs-primary-text-emphasis);
    --bs-accordion-active-bg: var(--bs-primary-bg-subtle);
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: var(--bs-accordion-btn-bg);
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}
@media (prefers-reduced-motion: reduce) {
    .accordion-button {
        transition: none;
    }
}
.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: var(--bs-accordion-active-bg);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: var(--bs-accordion-btn-icon-transform);
}
.accordion-button::after {
    flex-shrink: 0;
    width: var(--bs-accordion-btn-icon-width);
    height: var(--bs-accordion-btn-icon-width);
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: var(--bs-accordion-btn-icon-width);
    transition: var(--bs-accordion-btn-icon-transition);
}
@media (prefers-reduced-motion: reduce) {
    .accordion-button::after {
        transition: none;
    }
}
.accordion-button:hover {
    z-index: 2;
}
.accordion-button:focus {
    z-index: 3;
    border-color: var(--bs-accordion-btn-focus-border-color);
    outline: 0;
    box-shadow: var(--bs-accordion-btn-focus-box-shadow);
}

.accordion-header {
    margin-bottom: 0;
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-item:first-of-type {
    border-top-left-radius: var(--bs-accordion-border-radius);
    border-top-right-radius: var(--bs-accordion-border-radius);
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: var(--bs-accordion-inner-border-radius);
    border-top-right-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:not(:first-of-type) {
    border-top: 0;
}
.accordion-item:last-of-type {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: var(--bs-accordion-inner-border-radius);
    border-bottom-left-radius: var(--bs-accordion-inner-border-radius);
}
.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: var(--bs-accordion-border-radius);
    border-bottom-left-radius: var(--bs-accordion-border-radius);
}

.accordion-body {
    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
}

.accordion-flush .accordion-collapse {
    border-width: 0;
}
.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.accordion-flush .accordion-item:first-child {
    border-top: 0;
}
.accordion-flush .accordion-item:last-child {
    border-bottom: 0;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;
}

[data-bs-theme=dark] .accordion-button::after {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236ea8fe'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}


/* Accordion */
.accordion-item {
    border: 1px solid #ebeef4;
}

.accordion-button:focus {
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #012970;
    background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
    padding: 15px 0;
    background: none;
    border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: #4154f1;
}

.accordion-flush .accordion-body {
    padding: 0 0 15px 0;
    color: #3e4f6f;
    font-size: 15px;
}

.modal-right .modal-dialog {
    position: fixed;
    right: 0;
    margin: 0; /* Remove default margin */
    height: 100%; /* Make modal fill height */
    transform: translate(0, 0); /* Reset any default transforms */
    width: 500px;
    max-width: 500px;
}

.modal-right .modal-content {
    height: 100%; /* Make content fill height */
    border-radius: 0; /* Remove default border-radius for full height */
}




.btn-purple {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
}

.btn-purple:hover {
    color: #fff;
    background-color: #5E0C5E;
    border-color: #2653d4;
}

.btn-purple:focus, .btn-purple.focus {
    color: #fff;
    background-color: #5E0C5E;
    border-color: #4D0E4D;
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
    color: #fff;
    background-color: #800080;
    border-color: #800080;
}

.btn-purple:not(:disabled):not(.disabled):active, .btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #4D0E4D;
    border-color: #244ec9;
}

.btn-purple:not(:disabled):not(.disabled):active:focus, .btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 136, 228, 0.5);
}

/*Background*/
.bg-purple {
    background-color: #800080 !important;
    color: #fff;
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
    background-color: #4D0E4D !important;
}

.bg-y-purple {
    background-color: #FF6BFF !important;
    color: #000000;
}

a.bg-y-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
    background-color: #4D0E4D !important;
}

.border-left-purple {
    border-left: 0.25rem solid #800080 !important;
}

.json-display {
    display: block;
    width: 100%;
    height: 750px;
    border: 1px solid #000;
    margin: 0;
    padding: 10px 20px;
    word-break: break-all;
}



/*Center and crop thumbnails with CSS*/
.ummu-thumbnail {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100px;
}
.ummu-thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ummu-thumbnail img.portrait {
    width: 100%;
    height: auto;
}

/*<div class="thumbnail">
<img src="landscape-img.jpg" alt="Image" />
</div>
<div class="thumbnail">
<img src="portrait-img.jpg" class="portrait" alt="Image" />
</div>*/



.ummu-modal-rightschreen {
/*width: 100vw;*/
width: 900px;
max-width: none;
height: 100%;
margin: 0;
float: right;
}
.ummu-modal-rightschreen .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.ummu-modal-rightschreen .modal-header {
    border-radius: 0;
}
.ummu-modal-rightschreen .modal-body {
    overflow-y: auto;
}
.ummu-modal-rightschreen .modal-footer {
    border-radius: 0;
}

@media (max-width: 575.98px) {
    .ummu-modal-rightschreen-sm-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .ummu-modal-rightschreen-sm-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .ummu-modal-rightschreen-sm-down .modal-header {
        border-radius: 0;
    }
    .ummu-modal-rightschreen-sm-down .modal-body {
        overflow-y: auto;
    }
    .ummu-modal-rightschreen-sm-down .modal-footer {
        border-radius: 0;
    }
}
@media (max-width: 767.98px) {
    .ummu-modal-rightschreen-md-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .ummu-modal-rightschreen-md-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .ummu-modal-rightschreen-md-down .modal-header {
        border-radius: 0;
    }
    .ummu-modal-rightschreen-md-down .modal-body {
        overflow-y: auto;
    }
    .ummu-modal-rightschreen-md-down .modal-footer {
        border-radius: 0;
    }
}
@media (max-width: 991.98px) {
    .ummu-modal-rightschreen-lg-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .ummu-modal-rightschreen-lg-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .ummu-modal-rightschreen-lg-down .modal-header {
        border-radius: 0;
    }
    .ummu-modal-rightschreen-lg-down .modal-body {
        overflow-y: auto;
    }
    .ummu-modal-rightschreen-lg-down .modal-footer {
        border-radius: 0;
    }
}
@media (max-width: 1199.98px) {
    .ummu-modal-rightschreen-xl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .ummu-modal-rightschreen-xl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .ummu-modal-rightschreen-xl-down .modal-header {
        border-radius: 0;
    }
    .ummu-modal-rightschreen-xl-down .modal-body {
        overflow-y: auto;
    }
    .ummu-modal-rightschreen-xl-down .modal-footer {
        border-radius: 0;
    }
}
@media (max-width: 1399.98px) {
    .ummu-modal-rightschreen-xxl-down {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;
    }
    .ummu-modal-rightschreen-xxl-down .modal-content {
        height: 100%;
        border: 0;
        border-radius: 0;
    }
    .ummu-modal-rightschreen-xxl-down .modal-header {
        border-radius: 0;
    }
    .ummu-modal-rightschreen-xxl-down .modal-body {
        overflow-y: auto;
    }
    .ummu-modal-rightschreen-xxl-down .modal-footer {
        border-radius: 0;
    }
}



.ummu-btn-close {
/*box-sizing: content-box;
width: 1em;
height: 1em;
padding: 0.25em 0.25em;*/
color: #fff;
/*background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;*/
background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23000' version='1.1' id='svg1' sodipodi:docname='svgviewer-output.svg' inkscape:version='1.3.2 (1:1.3.2+202311252150+091e20ef0f)' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs1' /%3E%3Csodipodi:namedview id='namedview1' pagecolor='%23ffffff' bordercolor='%23000000' borderopacity='0.25' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:zoom='51' inkscape:cx='7.9901961' inkscape:cy='8' inkscape:window-width='1856' inkscape:window-height='1016' inkscape:window-x='64' inkscape:window-y='27' inkscape:window-maximized='1' inkscape:current-layer='svg1' /%3E%3Cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z' id='path1' style='fill:%23ffffff' /%3E%3C/svg%3E%0A");
/*border: 0;
border-radius: 0.25rem;
opacity: 0.5;*/
}
.ummu-btn-close:hover {
    color: #fff;
/*text-decoration: none;
opacity: 0.75;*/
}
/*.ummu-btn-close:focus {
outline: 0;
box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
opacity: 1;
}
.ummu-btn-close:disabled, .ummu-btn-close.disabled {
pointer-events: none;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
opacity: 0.25;
}*/


.text-purple {
    --bs-text-opacity: 1;
    color: #800080 !important;
}

.ummu-nav .nav-tabs .nav-link.active,
.ummu-nav .nav-tabs .nav-item.show .nav-link {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #800080;
}

.ummu-nav-child .nav-tabs .nav-link.active,
.ummu-nav-child .nav-tabs .nav-item.show .nav-link {
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #ffc107;
}

.ummu-breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
/* padding: 0.3rem; */
padding: 0px;
margin-bottom: 0.75rem;
list-style: none;
/* background-color: #e9ecef; */
background-color: unset;
border-radius: 0.25rem;
/* margin: 0px; */
}


.with-line {
    display: flex;
    flex-direction: row;
}

.with-line:before,
.with-line:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #800080;
    margin: auto;
}

.bg-dpvp {
    background-color: #77B44B;
}

.footer-text {
    margin-top: 20px;
    font-size: 12px;
    color: #888;
    text-align: center;
}

.ummu-auth .card {
    background: rgba(255, 255, 255, 0.95);
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.ummuDT.dataTable>thead>tr>th {
    padding: 2px 6px;
}

.ummuDT.dataTable>tbody>tr>td {
    padding: 2px 6px;
}

.ummuDT.dataTable {
    border: 1px solid #d7d7d7;
}

/* Sembunyikan hari pada Month & Year Picker */
.hide-calendar .ui-datepicker-calendar {
    display: none !important;
}

/* Sembunyikan bulan pada Year Picker saja */
.hide-month .ui-datepicker-month {
    display: none !important;
}




#gauge_wrapper { width: 40%; height: 250px; position: relative; }
#gauge_chart_div { width: 100%; height: 100%; }

/* Floating Text untuk Gauge */
.gauge-label {
    top: 50%;
    position: absolute;
    font-weight: bold;
    z-index: 10;
}

.percent-text {
    top: 50%;
    color: #3F51B5;
    font-size: 10px;
}

.diff-text {
    top: 50%;
    right: -10%;
    color: #000;
    font-size: 10px;
}

.text-outline {
  color: #000;
  /* Bayangan ke atas, bawah, kiri, kanan, dan diagonal */
  text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}